
@tailwind base;
@tailwind components;
@tailwind utilities;


/* andt averride */
input{
  border-radius: 2px;
  border: 1px solid gray;
  height: 40px;
}
input:focus{
  outline: none;
  box-shadow: none;
  border: 1px solid gray;
}
lable{
  font-size: 16px;
  color: black;
}
.ant-form-item{
  margin:10px 0;
}
/* Commpn styling */

.card-title{
font-size: 1.5rem;
font-weight: bold;
}
.normal-text{
  font-size: 1rem;
}
.card{
  box-shadow: 0 0 2px grey;
  border-radius: 0;
}
.primary-button{
  background-color: #007bff;
  border-color: #007bff;
  height: 40px;
  width: 100%;
  color: white;
  font-size: 18px; text-align: center; 
}
.anchor{
  color: black;
  text-decoration: underline;
  font-size: 16px;
}
.anchor:hover{
  text-decoration: underline;
}



.authentication {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
}
.authentication-form{
  width: 400px;
}

.authentication.card-title{
  font-size: 1.5rem;
  font-weight: bold;
  background-color: aqua;
  color: white;
  max-width: max-content;
  padding: 10px;
}